header {
    background-image: url(images/bg.jpg);
    color: #ffffff;
    padding-top: 300px;
    padding-bottom: 300px;
    background-size:cover;
    height: 100vh;
}
header button{
    background: #6236a5;
    border-radius: 10px;
    -webkit-border-radius: 10px;

}
h3{
    font-size: 12px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 800;
}
h1{
    font-size: 65px;
    letter-spacing: 0px;
    font-weight: 100;
    line-height: 85px;
}
.glyphicon{
    float: left;
}
section p{
    line-height: 35px;
    letter-spacing: 1px;
    font-size: 14px;
    color: #888;

}

p {
    line-height: 35px;
    letter-spacing: 1px;
    font-size: 14px;
    color: #888;
}

.glyphicon{
    font-size: 50px;
    color: #6236a5;

}
.introduce h6{
    font-size: 12px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 800;
}
.icon{
    margin-top: 100px;
    margin-bottom: 200px;

}
.introduce h1{
    font-size: 65px;
    letter-spacing: -2px;
    font-weight: 100;
    line-height: 65px;
}
.introduce{
    margin-top: 200px;

}
.greybg {
    background: #f9f9f9;
}
.resume{

}
.margin h6{
    font-size: 12px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 800;

}
 h6{
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 1px;
}
.portfolio h6{
    font-size: 12px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 100px;
}
.journal h6{
    font-size: 12px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 100px;

}
.contact h6{

    font-size: 12px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 100px;

}
 h1{

    font-size: 65px;
    letter-spacing: -2px;
    font-weight: 100;
    line-height: 65px;
    margin-bottom: 100px;
}
.margin{

    margin-top: 100px;
}

.education h6{
    margin-bottom: 70px;
}
.education ul{
    list-style-type:none;
}
.employment h6{
    margin-bottom: 70px;
}
.main{

    margin-bottom: 100px;
}

.skill p{

    margin-top: 70px;
    margin-bottom: 70px;
}
.pb-title {
    position: absolute;
    color: #222;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 800;
    left: 5px;
    bottom: 100%;
    padding-bottom: 5px;
    text-transform: uppercase;

}
.pb-box {
    position: absolute;
    background: #6236a5;
    color: #fff;
    right: 0;
    bottom: 100%;
    padding: 10px;
    font-size: 11px;
    letter-spacing: 1px;
    font-weight: 800;
}


.progress {
    height: 3px;
    margin-bottom: 75px;
    background-color: #eee;
    width: 100%;
    position: relative;
    float: left;
    overflow: visible;
}

.portfolio ul{

    display: inline;
}
.portfolio ul li{
    list-style-type: none;
    display: inline;
}
.progress-bar{

    position: relative;
    background-color: #6236a5;
}


/*.mGrid {*/
    /*margin-top: 50px;*/
/*}*/
/*.mGrid img{*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*-webkit-transition: all .25s ease-in-out;*/
    /*transition: all .25s ease-in-out;*/
/*}*/
/*.itemIso {*/
    /*position: relative;*/
    /*margin-right: 20px;*/
    /*margin-bottom: 20px;*/
    /*-webkit-transition: all .25s ease-in-out;*/
    /*transition: all .25s ease-in-out;*/
/*}*/
/*.itemIso a {*/
    /*display: block;*/
    /*overflow: hidden;*/
    /*position: relative;*/
    /*cursor: crosshair;*/
/*}*/

/*.item50fit {width: 47%;}*/
/*.item33 {width: 33.3%;}*/
/*.item50 {width: 50%;}*/
/*.filters li {*/
    /*text-transform: uppercase;*/
    /*cursor: pointer;*/
    /*display: inline-block;*/
    /*margin-right: 30px;*/
    /*font-size: 11px;*/
    /*font-weight: 800;*/
    /*color: #222;*/
    /*letter-spacing: 2px;*/
/*}*/
/*.filters {*/
    /*margin-bottom: 35px;*/
/*}*/
/*.is-checked {*/
    /*color: #6236a5!important;*/
/*}*/
/*.item-hover {*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*left: 0;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*right: 0;*/
    /*-webkit-transition: all .15s ease-in-out;*/
    /*transition: all .15s ease-in-out;*/
    /*opacity: 0;*/
    /*background: rgba(255, 255, 255, 0.2);*/
    /*text-align: left;*/
/*}*/
/*.item-hover-content {*/
    /*position: relative;*/
    /*top:70%;*/
    /*opacity: 0;*/
    /*left: 20px;*/
    /*-webkit-transition: all .25s ease-in-out;*/
    /*transition: all .25s ease-in-out;*/
/*}*/
/*.itemIso:hover .item-hover {*/
    /*background: rgba(255, 255, 255, 0.5);*/
    /*opacity: 1;*/
/*}*/
/*.itemIso:hover .item-hover-content {*/
    /*top: 80%;*/
    /*opacity: 1;*/
/*}*/
/*.itemIso h6 {*/
    /*color: #222;*/
    /*font-size: 15px;*/
    /*letter-spacing: 2px;*/
    /*font-weight: 800;*/
    /*text-transform: uppercase;*/
    /*margin-bottom: 0px;*/
/*}*/
/*.itemIso i {*/
    /*color: #6236a5;*/
    /*font-size: 11px;*/
/*}*/
/*.itemIso:hover {*/
    /*transform: scale(1.02);*/
    /*-webkit-transform: scale(1.02);*/
/*}*/

/*.modal-box {*/
    /*max-width: 550px;*/
    /*background: #fff;*/
    /*position: relative!important;*/
    /*margin: 0 auto;*/
    /*left: 0!important;*/
/*}*/
/*.modal-box img {*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/
/*.modal-box-content {*/
    /*padding: 25px;*/
/*}*/
/*.modal-box-content h4 {*/
    /*font-size: 20px;*/
    /*font-weight: 800;*/
    /*color: #6236a5;*/
    /*letter-spacing: 2px;*/
    /*text-transform: uppercase;*/
/*}*/
/*.modal-box-content p {*/
    /*font-size: 15px;*/
    /*text-align: left;*/
    /*line-height: 30px;*/
    /*padding-top: 25px;*/
    /*font-weight: 300;*/
    /*letter-spacing: 1px;*/
    /*color:#777;*/
/*}*/

.fields{


}
footer {
    background: #6236a5;
    height: 100px;
}
footer p{
    color: white;
}
.circle{
    position: relative;
    left: -30px;
    top: 15px;
    border: 1px solid #6236a5;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
i{
    font-size: 12px;
    color: #fff;
    background: #6236a5;
    padding: 1px 3px;
}
input,textarea{

    position: relative;
    color: #000000;
    vertical-align: top;
    margin: 0;
    padding: 10px;
    width: 100%;
    height: 100%;
    border: 0;
    border-bottom: 2px solid #6236a5;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 70px;
}

input.submit {
    width: auto;
    cursor: pointer;
    position: relative;
    color:#ffffff ;
    padding: 12px 20px;
    margin: 10px 0;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 3px;
    border: 0;
    background: #6236a5;

}
.fa{
    font: FontAwesome;
    font-size: 30px;
    letter-spacing: 20px;
}

.portfolio ul li{

    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    margin-right: 30px;
    font-size: 11px;
    font-weight: 800;
    color: #222;
    letter-spacing: 2px;
}
.bg{
    background: #f9f9f9;
    margin-top: 100px;

}
iframe{
    margin-top: 100px;

}
.foto{
    margin-right: auto;
    margin-left: auto;
}

.foto .row img{

    margin-left: 10px;
    margin-right: 10px;

}

.foto .row{
    margin-top: 20px;
    margin-bottom: 20px;
text-align: center;
 }
.footer-copyright p{

    margin-top: 40px;
    margin-left: 200px;
}

.footer-social{
    margin-top: 40px;
    text-align: center;


}
